---
const {title} = Astro.props
---
<h1 class="font-bold text-2xl sm:text-3xl">{title} 🇮🇩</h1>
<p class="pt-0.5 text-neutral-400 text-lg sm:text-2xl font-extralight">Software engineer & designer <span class="inline-block">(wannabe)</span></p>
<p class="pt-8">I'm a software engineer, experienced in web development with industry experience building web applications.
I can transform your design into a high-performance, maintainable, secure, & interactive app.
<!-- I write clean codes, read documentation, and follow best practices.
I ask for clear requirements before coding. I always pursue efficiency at work.  -->
</p>
<p class="pt-4">I have a profound understanding of web development on the technical side, coupled with a creativity that sets my work apart</p>