---
const {title} = Astro.props
---
<h1 class="font-bold text-2xl sm:text-3xl">{title} 🇮🇩</h1>
<p class="pt-0.5 text-neutral-400 text-lg sm:text-2xl font-extralight">Software engineer & designer <span class="inline-block">(wannabe)</span></p>
<p class="pt-8">
  I love creating/exploring products that bring real value to people, and sometimes indulge in unique projects just for fun. 
  I have a profound understanding of web development on the technical side.
</p>
<p class="pt-4">Currently i'm on-site work at Bali, hit the links (below of this page) if you want to collaboration or discuss!</p>