---
const {title} = Astro.props
---
<h1 class="font-bold text-2xl sm:text-3xl">{title} 🇮🇩</h1>
<p class="pt-0.5 text-neutral-400 text-lg sm:text-2xl font-extralight">Software Engineer <span class="inline-block">(Web Developer)</span></p>
<p class="pt-8">
  I love creating/exploring products that bring real value to people, and sometimes indulge in unique projects just for fun. 
  I have a profound understanding of web development on the technical side.
</p>
<p class="pt-4">Currently i'm work at Bali, hit the link in the bottom of this page if you want to do collaboration or project!</p>