---
import SectionLayout from "../layouts/SectionLayout.astro";
const listTools = ["JavaScript",
"TypeScript",
"Vue JS",
"Nuxt JS",
"React JS",
"Astro JS",
"Vanilla JS",
"jQuery",
"HTML",
"CSS",
"Tailwind", "and many more..."]
---
<div class="mt-24 text-2xl font-extralight flex gap-3.5 items-center text-neutral-400 tracking-wide">
  <h2 class="uppercase">Tools</h2> <div class="h-px bg-neutral-500 flex-1"></div> 
</div>
<ul class="pt-8 flex flex-wrap gap-2 items-center [&_li:not(:last-child)]:bg-neutral-800 [&_li:not(:last-child)]:px-2 [&_li:not(:last-child)]:py-0.5 [&_li:not(:last-child)]:rounded-md [&_li(:last-child)]:text-neutral-400">
  {listTools.map((tool) => <li>{tool}</li>)}
</ul>